
.title1 {
  color: rgba(255, 255, 255, 0.979);
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  margin-top: 0%;
}


.title2 {
  padding-top: 7%;
  margin-top: -5%;
  padding-bottom: 0%;
  text-align: center;
}


.text {
  text-align: center;
}


.board {
  text-align: -webkit-center;
  align-content: center;
}


.boardgame {
  display: inline-block;
}


.card{
  margin: auto;
  border: 2px solid #eddddd;
}


.card-text{
  text-align: justify;
}

.gradient-custom {
  background: linear-gradient(to right, #d0bdd8, #8b6685, #583f58, #525151);
  font-family: sans-serif;
}


.footer {
  text-align: center;
  position: absolute;
  width: 100%;
  padding-top: 5%;
}


.footertitle {
  text-align: center;
}


